
.form-container {
    display: flex;
    flex-direction: column;
    gap: 24px; /*gap between fields*/
}

.submit-button {
    margin-top: 8px;
    padding: 12px;
    font-weight: bold;
}

.status-message {
    text-align: center;
    font-weight: bold;
    margin-top: 16px;
    min-height: 24px; /* insures that there is space so the form doesnt move */
}